$mtavariFeri: black;
$menuFooterFeri: #232323;
$qudisTexti: white;
$placeHolder: #c7ced6;
$infoText: #676767;
$logoLinkFeri: #535353;
$searchAndHoverFeri: #33d7ff;
$sliderSataurisFeri: #0f0f0f;
$placeHosderFeri: #3e3e3e;
$menuBorderFeri: #3f3f3f;
$menuFonts: "BPG Mrgvlovani Caps 2010";
$slideSpoilerBackground: #0f0f0f;
$spoilerFontColor: #c2c2c2;
$menuLinksFeri: #979797;
$saitissigane: 96vw;
$fontSize: 1em;
$sliderMarginTop: 50px;
$liderHeight: 80vh;
$sliderCaptionColor: #959595;
$sliderItemWidth:97.9%;
$sliderItemHeight: 94.4%;
$sliderItemCatpionBgColor: #0f0f0f;