@import './_cvladebi';
@import './fonts';
@import './_reset';

* {
    box-sizing: border-box;
}

body {
    background-color: $mtavariFeri;
    font-size: 2vh;
}

@import './block/_header';
@import './block/_siteTitle';
@import './block/menu';
@import './block/slider';
@import './block/content';
@import './block/sidebar';