.slider {
    border-top: 1px solid $menuBorderFeri;
    border-bottom: 1px solid $menuBorderFeri;
    margin-top: $sliderMarginTop;
   
    height: $liderHeight;
    position: relative;
  
    .slider_wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 15px;
        top: 2.63%;
        bottom: 15px;
        .slider_item {
            width: $sliderItemWidth;
            height: $sliderItemHeight;
            img {
                width: 100%;
                height:100%;
            }
            .slider_caption {
                background: $sliderItemCatpionColor;
                top: 0;
                left: 0;
                position: absolute;
                top: 65.7%;
                left:2%;
                width: 62.8%;
                padding: 2%;
                color: #959595;
                border-radius: 8px 0 8px 0;

                .slider_header {
                    font-size: 1.2em;
                }
                .slider_desc {
                    margin-top: 4%;
                    line-height: 1.2em;
                }

            }
           
            .slide_btn {
                width: 5.2%;
                height: 12%;
                background-color: $sliderItemCatpionColor;
                position: absolute;
                left: 90.65%;
                top: 78.5%;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left_arrow,.right_arrow {
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }
   
}